@import '../../utilities/variables'

/////////////////////Social media 
.socialMedia
  @include container
  min-height: 100vh
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 1rem

.title
  // margin-top: 2rem
  font-size: 2rem

.textContent
  margin-top: 1rem
  display: flex
.textContent li a
  text-decoration: none

a svg
  transition: transform 0.3s ease-out
a svg:hover
  transform: scale(1.1)
@media (min-width: 500px)
  .textContent
    font-size: 1.2rem
    gap: 1rem
  


 